form {
    fieldset {
        border:none;
        padding:0;
        border:0;
    }
    label {
        display:block;
    }

    font-size: 18px;

    input, button, textarea {
        font-size:24px;
        border: 1px solid var(--light-color);
        border-radius:3px;
        padding:0.25em;
    }

    span.error {
        &:before {
            content:"⚠️";
        }

        display:block;

        color: maroon;
        line-height:1.5em;
    }

    .alert {
        &.alert-warning {
            background-color: palegoldenrod;
            color: maroon;
            &:before {
                content:"⚠️";
                display:inline-block;
                float:left;
            }
        }

        &.alert-success {
            &:before {
                content:"👍️";
                transform:translateX(-1);
                float:left;
            }
            color:darkolivegreen;
        }
    }

    span.info {
        font-size:92%;
        display:block;
    }

    input[type="number"] {
        width: 3em;
    }

    .calculator {
        display: flex;
        justify-content: space-between;
        background-color: #edf2f7;
        border-bottom:1px solid #cbd5e0;
        padding: 0.15em;

        input {
            background-color:inherit;
        }
    }
}

.paid {
    background-color: honeydew;
    border-left: 4px solid var(--light-color);
    width:max-content;
    padding:0.5em 1em;
    max-width: 88vw;
}
.amount-paid {
    margin-left:2em;
    font-weight:bold;
}

.paid .description {
    font-size:85%;
    font-style: italic;
}

aside.notice {
    font-size:14px;
    padding:0.5em 2em;
    background-color:lightyellow;
}

